header{
    height: 80px;
    width: 100%;
    background-color:white;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
}
#icon{
    height: 50px;
    width: 15%;
    margin-top: 1%;
    margin-left: 20px;
    text-align: center;
    font-weight: 700;
    color: #E74C3C ;
    float: left;
}
span > img{
    height: 35px;
    width: 35px;
    margin-top: 7px;
}
span{
    float: left;
}
.btnclass{
    margin-top: 1%;
}
.searchBox{
    position: absolute;
    margin-left: 30%;
    margin-top: 2%;
    width: 40%;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.search-txt{
    padding: 10px;
    font-size: 17px;
    float: left;
    width: 100%;
    height: 40px;
}
.searchBtn{
    float: left;
    height: 42px;
    width: 14%;
    padding: 10px;
    background: lightgreen;
    color: white;
    font-size: 18px;
    border: none;
    cursor: pointer;
}
#social{
    float: right;
    margin-right: 5%;
    margin-top: 1%;
}
.btn-class{
    color: black;
    font-weight: 500;
    margin-top: 1%;
    text-decoration: none;
}
.btn-class:hover{
   color: orange;
}
.btnIcon{
    background-color: white;
}