header{
    height: 80px;
    width: 100%;
    background-color:#FFFFFF;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
}
#icon{
    height: 50px;
    width: 15%;
    margin-top: 2%;
    margin-left: 20px;
    text-align: center;
    font-weight: 700;
    color: #E74C3C ;
    float: left;
}
span > img{
    height: 35px;
    width: 35px;
    margin-top: 7px;
}
span{
    float: left;
}
#social{
    float: right;
    margin-right: 5%;
    margin-top: 2%;
}
.btnclass{
    margin-top: 2.4%;
}
.dropDown{
    float: left;
    width: 125px;
    height: 40px;
    margin-top: 2%;
}
.btnlogin{
    display:inline-block;
}
.cartButton{
    float: right;
    margin-left: 8px;
}
